body {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: transparent;
  color: #fff;
}

#header.active {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 13%) 0 4px 16px;
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}
.nav-link {
  font-size: 18px;
  position: relative;
}
@media (max-width: 576px) {
  .nav-link {
    font-size: 16px;
  }
}
.logo h1 {
  font-size: 22px;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 576px) {
  .logo h1 {
    font-size: 20px;
  }
}
.logo a {
  color: white;
  text-decoration: none;
}
.logo a.active {
  color: black;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.logo #logo-svg {
  margin-right: 10px;
}
/*--------------------------------------------------------------
# Academy
--------------------------------------------------------------*/
#academy {
  padding: 0;
}
#academy .bg-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../img/academy.jpg");
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding-top: 150px;
  padding-bottom: 150px;
}

section#about {
  padding-top: 100px;
}

section#contacts {
  padding-top: 165px;
  padding-bottom: 135px;
}

@media (max-width: 992px) {
  section#contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

.projects .projects-item {
  margin-bottom: 30px;
}

.projects .projects-wrap {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.projects .projects-wrap {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.projects .projects-wrap .projects-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.2))
  );

  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );

  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  padding-bottom: 30px;
}
.projects .projects-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
.projects .projects-wrap:hover .projects-info {
  opacity: 1;
  padding-bottom: 0;
}
.projects .projects-wrap:hover img {
  transform: scale(1.2);
}
.projects .projects-wrap .projects-info h4 {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 992px) {
  .projects .projects-wrap .projects-info {
    opacity: 1;
    padding-bottom: 0;
  }
}
/*--------------------------------------------------------------
# Project-page
--------------------------------------------------------------*/
.content {
  color: #000;
}
.content h3 {
  font-size: 24px;
}
.content-author a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.content-author:hover a {
  color: rgba(0, 0, 0);
}
.content-btn {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  padding-left: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  border: 1px #000 solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-btn:hover {
  background: black;
  color: white;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#aboutus {
  padding: 0;
}
#aboutus .bg-image {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../img/aboutus.jpg");
}
.aboutus .aboutus-col {
  margin-left: 150px;
}
@media (max-width: 992px) {
  .aboutus .aboutus-col {
    margin-left: 0px;
  }
}
.aboutus .aboutus-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  line-height: 27px;
}
.aboutus .aboutus-teachers {
  color: rgb(255, 255, 255);
  font-size: 22px;
  line-height: 27px;
}
@media (max-width: 576px) {
  .aboutus .aboutus-text {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .aboutus .aboutus-teachers {
    font-size: 18px;
  }
}
.aboutus .aboutus-item {
  margin-bottom: 40px;
}
.aboutus .aboutus-item .aboutus-wrap {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 12%);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.aboutus .aboutus-item .aboutus-wrap img {
  width: 100%;
  object-position: 50% 50%;
  height: 520px;
}
@media (max-width: 576px) {
  .aboutus .aboutus-item .aboutus-wrap img {
    height: 380px;
    object-position: 50% 40%;
  }
}
.aboutus .aboutus-item .aboutus-wrap a {
  color: #000;
  text-decoration: none;
}
.aboutus .aboutus-item .aboutus-wrap h3 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 22px;
  margin-left: 5px;
}
.aboutus .aboutus-item .aboutus-wrap p {
  font-size: 18px;
  margin-left: 5px;
}
/*--------------------------------------------------------------
# Contacts
--------------------------------------------------------------*/
.contacts .contacts-item a {
  color: #000;
  text-decoration: none;
}
.contacts .contacts-item {
  margin-bottom: 10px;
}
.contacts .contacts-item a,
p {
  font-size: 20px;
}
@media (max-width: 576px) {
  .contacts .contacts-item a,
  p {
    font-size: 15px;
  }
}
.contacts iframe {
  width: 100%;
  height: 400px;
}
@media (max-width: 576px) {
  .contacts iframe {
    width: 95%;
    height: 400px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  color: #fff;
  font-size: 14px;
}
