img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background-color: transparent;
  color: #fff;
}

#header.active {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 13%) 0 4px 16px;
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}
.logo {
  font-size: 1.25rem;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
}
.logo a {
  color: white;
  text-decoration: none;
}
.logo a.active {
  color: black;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.nav-link {
  position: relative;
}
.nav-link,
.nav-link:focus {
  color: white;
}

.logo #logo-svg {
  margin-right: 10px;
}
/*--------------------------------------------------------------
# Academy
--------------------------------------------------------------*/
#academy {
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}
#academy .bg-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("../img/academy.jpg");
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding-top: 150px;
  padding-bottom: 150px;
}

section#projects {
}

section#about {
  padding-top: 100px;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/

.projects .projects-item {
  margin-bottom: 30px;
}

.projects .projects-wrap {
  box-shadow: 0px 2px 12px rgb(0 0 0 / 8%);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.projects .projects-wrap .projects-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
  text-align: center;
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  padding-bottom: 30px;
}
.projects .projects-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}
.projects .projects-wrap:hover .projects-info {
  opacity: 1;
  padding-bottom: 0;
}
.projects .projects-wrap:hover img {
  transform: scale(1.2);
}
.projects .projects-wrap .projects-info h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

@media (max-width: 992px) {
  .projects .projects-wrap .projects-info {
    opacity: 1;
    padding-bottom: 0;
  }
}
/*--------------------------------------------------------------
# Project-page
--------------------------------------------------------------*/
.content {
  color: #000;
}
.content h3 {
  font-size: 24px;
}
.content-author a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.content-author:hover a {
  color: rgba(0, 0, 0);
}
.content-btn {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  padding: 8px 30px;
  border: 1px #000 solid;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content-btn:hover {
  background: black;
  color: white;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #000000;
  color: #fff;
  font-size: 14px;
}
